@import url("https://fonts.googleapis.com/css?family=Montserrat");

$background: #b2b1cf;
$white: #fff;
// body{
//   background-color: $background;
//   font-family: 'Montserrat', sans-serif;
// }
// .container{
//   height:70px;
//   padding:55px;
//   position:fixed;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   margin:auto;
//   text-align:center;
// }

.menu-share {
  font-family: "Montserrat", sans-serif;
  z-index: 999;
  position: fixed;
  padding: 0;
  margin: 0;
  list-style-type: none;
  .share {
    svg {
      height: 20px;
      width: 20px;
      text-align: center;
      line-height: 20px;
      background-color: #fff;
      border-radius: 2px;
    }
    &:hover {
      // &.bottom {
      //   .submenu {
      //     @for $i from 1 through 5 {
      //       li:nth-child(#{$i}) {
      //         opacity: 1;
      //         top: #{$i * 50}px;
      //         transform: rotate(0deg);
      //         border-top: 1px dashed darken($white, 20%);
      //         transition-delay: #{$i * 0.08}s;
      //       }
      //     }
      //   }
      // }
      // &.left {
      //   .submenu {
      //     @for $i from 1 through 5 {
      //       li:nth-child(#{$i}) {
      //         opacity: 1;
      //         left: #{-$i * 51}px;
      //         transform: rotate(0deg);
      //         transition-delay: #{$i * 0.5}s;
      //         border-right: 1px dashed darken($white, 20%);
      //       }
      //     }
      //   }
      // }
      &.right {
        .submenu {
          @for $i from 1 through 5 {
            li:nth-child(#{$i}) {
              opacity: 1;
              left: #{$i * 50}px;
              transform: rotate(0deg);
              transition-delay: #{$i * 0.08}s;
              border-left: 1px dashed darken($white, 20%);
            }
          }
        }
      }
      // &.top {
      //   .submenu {
      //     @for $i from 1 through 5 {
      //       li:nth-child(#{$i}) {
      //         opacity: 1;
      //         top: #{-$i * 51}px;
      //         transition-delay: #{$i * 0.08}s;
      //         transform: rotateY(0deg);
      //         border-bottom: 1px dashed darken($white, 15%);
      //       }
      //     }
      //   }
      // }
    }
  }
  .submenu {
    
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      
      transition: all ease-in-out 0.5s;
      position: absolute;
      top: 0;
      z-index: -1;
      opacity: 0;
      a {
        color: #212121;
        
        &:hover {
          svg {
            color: #fff;
          }
          &.facebook {
            svg {
              background-color: #3b5999;
            }
          }
          &.twitter {
            svg {
              background-color: #55acee;
            }
          }
          &.googlePlus {
            svg {
              background-color: #dd4b39;
            }
          }
          &.instagram {
            svg {
              background-color: #e4405f;
            }
          }
        }
      }
    }
    @for $i from 1 through 4 {
      li:nth-child(#{$i}) {
        transform: rotateX(#{$i * 45}deg);
      }
    }
  }
  // &.topLeft {
  //   top: 10px;
  //   left: 10px;
  // }
  // &.topRight {
  //   top: 10px;
  //   right: 10px;
  // }
  &.bottomLeft {
    bottom: 10px;
    left: 10px;
  }
  // &.bottomRight {
  //   bottom: 10px;
  //   right: 10px;
  // }
}
